@import "../../assets/scss/screenVariables.scss";

.Episode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__backButton {
    background-color: var(--color-primary);
    padding: 1rem;
    cursor: pointer;
    margin-right: auto;
    color: white;
    border-radius: .5rem;
    margin-bottom: 2rem;
  }

  img {
    margin-top: 3rem;
    max-width: 120rem;
  }

  &__description {
    margin-top: 3rem;
    font-size: 1.6rem;
    max-width: 120rem;
  }

  @media only screen and (max-width: $bp-large) {
    img {
      width: 90%;
    }
    &__description {
      width: 90%;
    }
  }
}