.Layout {
  background-color: white;
  height: 100vh;
  width: 100vw;
  &__main {
    height: calc(100% - 10rem);
    overflow-y: auto;

    &-content {
      min-height: calc(100% - 10rem);
      padding: 4rem;
    }
  }
}